In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
import os
import matplotlib as plt
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/city_weather.csv")
city_data_df.head()

,City,Country,Date,Humidity,Lat,Lng,Max Temp,Cloudiness,Wind Speed
0,Avarua,CK,1638654016,83,-21.2078,-159.7750,78.85,40,5.75
1,Punta Arenas,CL,1638653661,50,-53.1500,-70.9167,55.51,40,25.32
2,Harper,LR,1638654020,81,4.3750,-7.7169,79.90,6,8.05
3,Zhangjiakou,CN,1638654023,45,40.8100,114.8794,28.35,0,0.27
4,Arraial do Cabo,BR,1638654025,69,-22.9661,-42.0278,76.96,40,10.36

In [3]:
# Configure gmaps with API key.
gmaps.configure(api_key=g_key)

In [4]:
# Using Lat and Lng as locations:
locations = city_data_df[["Lat", "Lng"]]

# Using Humidity as the weight: 
humidity = city_data_df["Humidity"].astype(float)

In [5]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5


fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5


fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5


fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= 75) & \
                                       (city_data_df["Max Temp"] <= 90)]
preferred_cities_df.head(10)

,City,Country,Date,Humidity,Lat,Lng,Max Temp,Cloudiness,Wind Speed
0,Avarua,CK,1638654016,83,-21.2078,-159.7750,78.85,40,5.75
2,Harper,LR,1638654020,81,4.3750,-7.7169,79.90,6,8.05
4,Arraial do Cabo,BR,1638654025,69,-22.9661,-42.0278,76.96,40,10.36
6,Rikitea,PF,1638653748,71,-23.1203,-134.9692,76.06,40,10.00
7,Vaini,TO,1638653867,78,-21.2000,-175.2000,82.56,40,13.80
9,Puerto Ayora,EC,1638653688,83,-0.7393,-90.3518,75.16,78,7.70
10,Bandarbeyla,SO,1638653930,67,9.4942,50.8122,75.63,23,16.58
13,São João da Barra,BR,1638654045,80,-21.6403,-41.0511,77.09,17,7.29
14,Kavaratti,IN,1638654048,79,10.5669,72.6420,80.58,34,7.00
20,Hithadhoo,MV,1638654062,76,-0.6000,73.0833,81.23,84,11.68

In [10]:
# Create a hotel_df
hotel_df = preferred_cities_df.loc[:,["City","Country", "Max Temp", "Lat", "Lng"]].copy()

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

                City Country  Max Temp      Lat       Lng Hotel Name
0             Avarua      CK     78.85 -21.2078 -159.7750
2             Harper      LR     79.90   4.3750   -7.7169
4    Arraial do Cabo      BR     76.96 -22.9661  -42.0278
6            Rikitea      PF     76.06 -23.1203 -134.9692
7              Vaini      TO     82.56 -21.2000 -175.2000
..               ...     ...       ...      ...       ...        ...
544        Riberalta      BO     84.92 -10.9833  -66.1000
545             Tual      ID     81.75  -5.6667  132.7500
548     Jacareacanga      BR     75.49  -6.2222  -57.7528
551         Calabozo      VE     88.93   8.9242  -67.4293
552     Quatre Cocos      MU     77.09 -20.2078   57.7625

[152 rows x 6 columns]

In [13]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key
          
         }

In [14]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Hotels not found... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 0: Avarua.
Closest hotel in Avarua is The Islander Hotel.
------------

NameError: name 'time' is not defined

In [15]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))